body {
    color:black;
    background:pink;
    margin: 0px;
    font-family: "Playwrite CU", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px rgb(255, 0, 128);
    padding: 15px;
    font-size: 27px;
    color: rgb(255, 0, 128);
}

.chamada {
    background: rgb(255, 0, 119);
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p{
    font-size: 25px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 125px;
}

.categoria-videos img:hover {
        opacity: 1.0;
        border: 1px solid rgb(255, 29, 105);
    }

.categoria h2 {
    color:  rgb(255, 0, 98);
}